
.full-width {
  width: 100%;
  color: rgb(30, 255, 0);
}

.align-center {
  text-align: center;
}

.types-data-buttons {
  text-align: center;
  font-size: 14px;
  ::ng-deep {
    .mat-button-toggle-appearance-standard {
      .mat-button-toggle-label-content {
        line-height: 35px;
      }
    }
  }
}

.table-buttons {
  margin-bottom: 5px;
  button {
    margin-right: 5px;
  }
}
